.editor {
  outline: none;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 1rem;
  padding: 0.25rem;
  height: 100%;
  border-radius: 0.5rem;
  overflow-y: scroll;
}

/* Estilo da barra de rolagem */
.editor::-webkit-scrollbar {
  width: 0.4rem;
}

/* Estilo do polegar da barra de rolagem */
.editor::-webkit-scrollbar-thumb {
  background: #71717a;
  border-radius: 0.75rem;
}

.editor::-webkit-scrollbar-thumb:hover {
  background: #52525b;
  cursor: pointer;
}

/* Estilo da faixa de trilha da barra de rolagem */
.editor::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 0.75rem;
}